<!DOCTYPE html>
<html>
  <head>
    <title>Nirvana - Team & Project Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('nirvana_logo_black_cropped.gif'), :rel => 'icon', :type =>  'image/gif' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
